<h1>Editing post type</h1>

<%= render "form", post_type: @post_type %>

<br>

<div>
  <%= link_to "Show this post type", @post_type %> |
  <%= link_to "Back to post types", post_types_path %>
</div>
